@model ProyectoWeb.Entities.ReservasEnt

@{
    ViewData["Title"] = "RegistrarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper d-flex align-items-center auth px-0" style="margin-top:20px">
    <div class="row col-md-8 mx-0 card mb-4">
        <div class="card-body">
            <div class="mb-3">


                @using (Html.BeginForm("InsertarReserva", "Reservas", FormMethod.Post, new { @class = "pt-3" }))
                {
                    @ViewBag.MensajePantalla

                    <div class="mb-3">
                        <label for="fecha_reserva" class="form-label">Fecha de la reserva</label>
                        @Html.TextBoxFor(m => m.fecha_reserva, new { @class="form-control", @type="datetime-local", @placeholder="Fecha de la reserva" })
                    </div>
                    

                    <div class="mt-3">
                        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Registrar Reserva">
                    </div>

                }

            </div>
        </div>
    </div>
</div>